# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.venv/
.env

# Node
node_modules/
dist/
coverage/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# Logs
*.log

# Testing
.pytest_cache/